(
    inbounds: [
        (
            type: "tproxy",
            listen: "0.0.0.0",
            listen_port: 12345,
        ),
        (
            type: "socks",
            listen: "0.0.0.0",
            listen_port: 1080,
        ),
    ],
    outbounds: [
        (
            tag: "direct",
            type: "direct",
        ),
        (
            tag: "proxy",
            type: "socks",
            server: "127.0.0.1",
            server_port: 1081,
        ),
    ],
    route: (
        rules: [
            (
                action: "route",
                rule_set: ["GeoSite-CN"],
                outbound: "direct",
            ),
            (
                action: "route",
                rule_set: ["GeoSite-Gfw"],
                outbound: "proxy",
            ),
        ],
        rule_set: [],
        final: "direct",
    ),
)
